<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.internship.dictionary.mapper.DictionaryMapper">

    <select id="findByFilters" resultType="az.cybernet.internship.dictionary.entity.Dictionary">
        SELECT * FROM dictionary
        WHERE
        <where>

        </where>
        <if test="id != null">
            id = #{id} AND
        </if>
        <if test="value != null and value != ''">
            LOWER(value) LIKE CONCAT('%', LOWER(#{value}), '%') AND
        </if>
        is_active = #{isActive}
        ORDER BY create_date DESC
        LIMIT #{limit}
    </select>

    <insert id="insert" parameterType="az.cybernet.internship.dictionary.entity.Dictionary"
            useGeneratedKeys="false">
        INSERT INTO dictionary (
        id, category, value, description, is_active, create_date, update_date
        ) VALUES (
        #{id}::uuid,
        #{category},
        #{value},
        #{description},
        #{isActive},
        now(),
        now()
        )
        RETURNING id, category, value, description, is_active, create_date, update_date;
    </insert>


    <select id="updateDictionary" parameterType="az.cybernet.internship.dictionary.entity.Dictionary" resultType="az.cybernet.internship.dictionary.dto.resp.DictionaryResp">
        UPDATE dictionary SET
        <if test="category != null">
            category = #{category},
        </if>
        value = #{value},
        <if test="description != null">
            description = #{description},
        </if>
        <if test="isActive != null">
            is_active = #{isActive},
        </if>
        update_date = now()
        WHERE id = #{id}::uuid
        RETURNING id, category, value, is_active, update_date;
    </select>

    <select id="delete" parameterType="java.util.UUID" resultType="az.cybernet.internship.dictionary.dto.resp.DictionaryResp">
        UPDATE dictionary
        SET is_active = false,
            update_date = now()
        WHERE id = #{uuid}::uuid
    RETURNING id, category, value, is_active, update_date;
    </select>

    <select id="restoreDictionary" parameterType="java.util.UUID" resultType="az.cybernet.internship.dictionary.dto.resp.DictionaryResp">
        UPDATE dictionary
        SET is_active = true,
        update_date = now()
        WHERE id = #{uuid}::uuid
        RETURNING id, category, value, is_active, update_date;
    </select>
</mapper>
