<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.internship.dictionary.DictionaryMapper">

    <select id="list" resultType="az.cybernet.internship.dictionary.DictionaryEntry">
        SELECT *
        FROM dictionary
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="value != null">
                <!-- Частичное совпадение -->
                AND LOWER(value) LIKE CONCAT('%', LOWER(#{value}), '%')
                <!-- Полное совпадение -->
                <!-- AND LOWER(value) = LOWER(#{value})-->
            </if>
            <choose>
                <when test="is_active != null">
                    AND is_active = #{is_active}
                </when>
                <otherwise>
                    AND is_active = true
                </otherwise>
            </choose>
        </where>
        ORDER BY id ASC
        <choose>
            <when test="limit != null and limit > 0">
                LIMIT #{limit}
            </when>
            <otherwise>
                LIMIT 100
            </otherwise>
        </choose>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dictionary (value, description, is_active)
        VALUES (#{value}, #{description}, true)
    </insert>

    <update id="update">
        UPDATE dictionary
        SET value = #{value}, description = #{description}
        WHERE id = #{id}
    </update>

    <update id="softDelete">
        UPDATE dictionary
        SET is_active = false, deleted_at = NOW()
        WHERE id = #{id}
    </update>

    <update id="restore">
        UPDATE dictionary
        SET is_active = true, deleted_at = NULL
        WHERE id = #{id}
    </update>

    <select id="isActive" resultType="boolean">
        SELECT is_active
        FROM dictionary
        WHERE id = #{id}
    </select>

</mapper>
