<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.internship.dictionary.mapper.DictionaryItemMapper">

    <!-- Result map -->
    <resultMap id="DictionaryItemResultMap" type="az.cybernet.internship.dictionary.model.DictionaryItem">
        <id property="id" column="id" javaType="java.util.UUID"/>
        <result property="category" column="category"/>
        <result property="value" column="value"/>
        <result property="description" column="description"/>
        <result property="isActive" column="is_active"/>
        <result property="deletedAt" column="deleted_at" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="findAllActiveWithLimit" resultMap="DictionaryItemResultMap" parameterType="int">
        SELECT * FROM dictionaryItem
        LIMIT #{limit}
        WHERE is_active = true
    </select>

</mapper>