<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.internship.dictionary.mapper.DictionaryMapper">

    <insert id="insert">
        INSERT INTO dictionaries(id, value, description, is_active, deleted_at, category_id)
        VALUES (#{id}, #{value}, #{description}, true, null, #{categoryId})
    </insert>

    <update id="update">
        UPDATE dictionaries
        SET value = #{value},
            description = #{description},
            category_id = #{categoryId}
        WHERE id = #{id}
    </update>

    <update id="softDelete">
        UPDATE dictionaries
        SET is_active = false,
            deleted_at = now()
        WHERE id = #{id}
    </update>

    <update id="restore">
        UPDATE dictionaries
        SET is_active = true,
            deleted_at = null
        WHERE id = #{id}
    </update>
    <select id="findByCategoryId" resultType="az.cybernet.internship.dictionary.model.dictionary.Dictionary">
        SELECT id, value, description, is_active, deleted_at, category_id
        FROM dictionaries
        WHERE category_id = #{categoryId} AND is_active = true
    </select>

    <select id="findById" resultType="az.cybernet.internship.dictionary.model.dictionary.Dictionary">
        SELECT * FROM dictionaries
        WHERE id = #{id}
    </select>

    <select id="filter"
            resultType="java.util.List"
            parameterType="az.cybernet.internship.dictionary.model.dictionary.DictionaryRequest"
            resultMap="filterResultMap">
        SELECT id, value, description, is_active, deleted_at, category_id FROM dictionaries
        where 1=1
        <if test="req.value != null">
            AND value = #{req.value}
        </if>
        <if test="req.isActive != null">
            AND is_active = #{req.isActive}
        </if>
        ORDER BY value
        <if test="req.offset != null">
            offset #{req.offset}
        </if>
        <if test="req.limit != null">
            LIMIT #{req.limit}
        </if>
    </select>

    <resultMap id="filterResultMap"
               type="az.cybernet.internship.dictionary.model.dictionary.DictionaryResponse">
        <result property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="description" column="description"/>
        <result property="isActive" column="is_active"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>

</mapper>
