<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.internship.dictionary.repository.ItemRepository">

    <!-- RESULT MAP -->
    <resultMap id="ItemResultMap" type="az.cybernet.internship.dictionary.entity.DictionaryItem">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="description" column="description"/>
        <result property="isActive" column="is_active"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="category"
                     javaType="az.cybernet.internship.dictionary.entity.DictionaryCategory">
            <id property="id" column="category_id"/>
        </association>
    </resultMap>

    <!-- UPDATE -->
    <update id="updateItem" parameterType="map">
        UPDATE items
        <set>
            <if test="item != null and item['value'] != null">
                value = #{item.value},
            </if>
            <if test="item != null and item['description'] != null">
                description = #{item.description},
            </if>
            <if test="item != null and item.category != null and item.category.id != null">
                category_id = #{item.category.id},
            </if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>

    <!-- SELECT BY ID -->
    <select id="findById" resultMap="ItemResultMap" parameterType="long">
        SELECT i.id,
               i.value,
               i.description,
               i.is_active,
               i.created_at,
               i.updated_at,
               i.category_id
        FROM items i
        WHERE i.id = #{id}
    </select>

    <!-- RESTORE (If soft-delete mechanism exists, adjust accordingly) -->
    <update id="restore" parameterType="long">
        UPDATE items
        SET is_active  = true,
            updated_at = null
        WHERE id = #{id}
    </update>

    <!-- SAVE -->
    <insert id="saveItem" parameterType="az.cybernet.internship.dictionary.entity.DictionaryItem"
            useGeneratedKeys="true">
        INSERT INTO items (value, description, is_active, created_at, updated_at, category_id)
        VALUES (#{value}, #{description} ,true, now(), null, #{category.id})
    </insert>

    <!--  FIND ALL ITEMS  -->
    <select id="findAll" resultMap="ItemResultMap" parameterType="Integer">
        SELECT  i.id,
                i.value,
                i.description,
                i.is_active,
                i.created_at,
                i.updated_at,
                i.category_id
        FROM items i
        WHERE i.is_active != false
        ORDER BY i.id ASC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <!--  DELETE  -->
    <update id="deleteItem" parameterType="Long">
        UPDATE items
        SET is_active = false,
            updated_at = null
        Where id = #{id}
    </update>

</mapper>
